.NavigateCard{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    width: 48.433583%;
    padding: 77px;
    border: 2px solid var(--grey15);
    border-radius: 10px;
    box-shadow: 4px 4px 0px 2px var(--shadow-dark);
    background-color: var(--white);
}
.navigateCardTop{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    text-align: center;
}
.navigateCardTop .cardHeading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
}
.navigateCardTop .cardHeading h3{
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    font-family: var(--headings-font);
}
.navigateCardTop .cardHeading img{
    width: 100%;
}
.navigateCardDesc{
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--text-lighter-g30);
}
.learnMoreBtn{
    width: 100%;
    background-color: var(--orange90);
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 2px solid var(--grey15);
    border-radius: 10px;
    box-shadow: 4px 4px 0px 2px var(--shadow-dark);
    transition: 300ms ease;
    font-size: 20px;
    color: var(--text-light-g20);
    line-height: 150%;
    font-weight: 500;
    cursor: pointer;
}
.learnMoreBtn:hover{
    transform: translate(-4px,-4px);
    box-shadow: 8px 8px 0px 2px var(--shadow-dark);
    background-color: var(--orange65);
}
@media (max-width:1919px){
    .NavigateCard{
        gap: 60px;
        width:48.4375%;
        padding: 58px;
        min-height: 467px;
    }
    .navigateCardTop{
        gap: 40px;
    }
    .navigateCardTop .cardHeading{
        gap: 24px;
    }
    .navigateCardTop .cardHeading h3{
        font-size: 34px;
    }
    .navigateCardDesc{
        font-size: 16px;
    }
    .learnMoreBtn{
        border-radius: 8px;
        box-shadow: 2px 2px 0px 2px var(--shadow-dark);
        font-size: 18px;
    }
    .learnMoreBtn:hover{
        transform: translate(-2px,-2px);
        box-shadow: 4px 4px 0px 2px var(--shadow-dark);
    }
}
@media (max-width:992px) {
    .NavigateCard{
        gap: 40px;
        width: 100%;
        padding: 38px;
        box-shadow: 4px 4px 0px 2px var(--shadow-dark);
        min-height:426px;
    }
    .navigateCardTop{
        gap: 30px;
    }
    .navigateCardTop .cardHeading{
        gap: 20px;
    }
    .navigateCardTop .cardHeading h3{
        font-size: 28px;
    }
    .navigateCardTop .cardHeading img{
        width: 100%;
    }
    .navigateCardDesc{
        font-size: 16px;
    }
    .learnMoreBtn{
        padding: 16px 0;
        gap: 10px;
        border-radius: 6px;
        box-shadow: 2px 2px 0px 1px var(--shadow-dark);
        font-size: 16px;
    }
}